@import url(/css/common.css);
@import url(/css/header.css);

.grid--2--cols {
  grid-template-columns: 6fr 4fr;
}

.cart--container {
  width: 100%;
  padding: 0 1rem;
}

.card--horizontal {
  max-width: 100%;
  margin-bottom: 2rem;
}

.cart--quantity {
  padding: 0.5rem;
}

.btn--quantity {
  border-radius: 50%;
  width: 1.5rem;
  height: 1.5rem;
  padding: 1px;
  border: 1px solid var(--black);
  background-color: transparent;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.input--quantity {
  font-size: 1rem;
  max-width: 1.5rem;
  padding: 2px 5px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

.price--container {
  width: 100%;
  align-self: flex-start;
  background-color: var(--white);
  padding: 2rem 4rem;
  border-radius: 5px;
  box-shadow: 2px 3px 10px 0px rgb(0 0 0 / 20%);
}

.price--sub--container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.price--total {
  padding: 1rem 0;
  border-top: 1px solid var(--grey);
  font-weight: 600;
  font-size: 1.1rem;
  border-bottom: 1px solid var(--grey);
}

@media only screen and (max-width: 800px) {
  .grid--2--cols {
    grid-template-columns: 1fr;
  }
  .price--container {
    width: 90%;
    margin: 0 4rem;
    padding: 2rem;
  }
}

@media only screen and (max-width: 450px) {
  html {
    font-size: 80%;
  }
}
