@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&family=Licorice&family=Rubik+Beastly&family=Sacramento&family=Shizuru&display=swap");
@import url("https://fastart.netlify.app/css/fastart.css");

:root {
  --favorite-red: #ef4444;
  --bg-color: #fefce8;
  --primary--color: #fea620;
  --primary--light: #fde68a;
}

body {
  font-family: "inter", sans-serif;
  background-color: var(--bg-color);
}

.grid {
  gap: 2rem;
}

.grid--4--cols {
  grid-template-columns: repeat(4, 1fr);
}

.btn--primary {
  background-color: var(--primary--color);
  border-color: var(--primary--color);
  color: var(--black);
}

.btn--primary:hover {
  background-color: var(--primary--light);
  color: var(--black);
  font-weight: 600;
}

@media only screen and (max-width: 1100px) {
  .grid--4--cols {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media only screen and (max-width: 900px) {
  .grid--4--cols {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media only screen and (max-width: 500px) {
  .grid--4--cols {
    grid-template-columns: 1fr;
  }
}
