.nav--container {
  position: sticky;
  top: 0;
  background-color: var(--bg-color);
  color: var(--black);
  z-index: 10;
  box-shadow: 0px 8px 10px -2px rgba(0, 0, 0, 0.46);
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}

.logo a {
  color: var(--black);
  text-decoration: none;
}

.nav--container .nav--items {
  margin-left: initial;
}

.nav--items i {
  font-size: 1.5rem;
}

.nav--items i:hover {
  transform: scale(1.2);
}

.nav--items a {
  color: var(--black);
}

.header--input--container {
  max-width: 20rem;
  min-width: 5rem;
  flex-grow: 1;
}

.header--input {
  border: none;
  padding: 0.5rem;
  border-bottom: 1px solid var(--primary--color);
  background-color: transparent;
  width: 100%;
}

@media only screen and (max-width: 800px) {
  .nav--items {
    position: relative;
    transform: translate(0);
    top: 0;
    padding: 0;
    background-color: transparent;
    min-width: auto;
    overflow: initial;
  }
  .nav--items .list--space {
    flex-direction: row;
  }
}

@media only screen and (max-width: 400px) {
  .nav--items {
    width: 100%;
  }
}
