@import url(/css/common.css);
@import url(/css/header.css);

.container {
  max-width: 75rem;
  margin: 0 auto;
}

.banner {
  width: 80%;
  margin: 2rem auto;
}

.banner img,
.category--image img {
  border-radius: 5px;
}

.category--container {
  width: 100%;
  padding: 0 2rem;
}

.category--image {
  position: relative;
  background-color: var(--black);
  border-radius: 5px;
}

.category--image img {
  filter: opacity(40%);
  height: 100%;
  transform: scale(1.05);
  transition: transform, filter 0.5s ease;
  cursor: pointer;
}

.category--name {
  position: absolute;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: 600;
  font-size: 1.5rem;
  color: var(--white);
  text-align: center;
}

.category--image img:hover {
  filter: opacity(100%);
  transform: scale(1.1);
}

.action--container {
  display: flex;
  justify-content: center;
}

@media only screen and (max-width: 1100px) {
  .category--image:nth-of-type(4) {
    grid-column: 2/3;
  }
}
